body
  padding-top: 50px

.rec, .clipping
  padding-bottom: 20px

.recRank, .clippingMeta
  font-weight: bold
  color: white

.recRank
  background-color: #ffac40

.clippingMeta
  background-color: #61d8a2

.recTitle, .clippingTitle
  font-style: italic
  color: #65a5d1

.recContent
  border-bottom: 1px solid #ffac40

.clippingContent
  border-bottom: 1px solid #61d8a2

.navbar .nav > li a
  text-decoration: none
  text-shadow: none
  font-family: 'Signika Negative', sans-serif


.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus
  box-shadow: none

.navbar .brand
  font-size: 24px;
  font-family: 'Signika Negative', sans-serif
  padding-left: 35px
  text-shadow: none
  color: #ff9000

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner
  -webkit-box-shadow: none !important
  box-shadow: none !important

.navbar-inner
  border: none
  background-image: none
  background-color: #ffeed8

.buttonContainer:hover
  border: 1px solid #ff9000

.buttonContainer
  margin: 5px
  padding: 4px
  background-color: #ffffff
  border-radius: 3px
  border: 1px solid #d4d4d4

.active > .clipNavButton
  background-color: #61d8a2

.active > .recNavButton
  background-color: #ffac40

.clipNavButton > a
  color: #61d8a2

.recNavButton > a
  color: #ffac40

.active > .clipNavButton > a,
.active > .recNavButton > a
  color: #ffffff

// 0H11Tw0w0w0w0