body
  padding-top: 50px

.rec
  padding-bottom: 20px

.recRank
  font-weight: bold
  color: white
  background-color: #ffac40

.recTitle
  font-style: italic
  color: #65a5d1

.recContent
  border-bottom: 1px solid #ffac40

.clippingTitle
  color: red

.clippingContent
  color: blue

.navbar .nav > li a
  text-decoration: none
  text-shadow: none


.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus
  box-shadow: none

.navbar .nav > .active > a
  color: #ffffff

.navbar .brand
  font-size: 24px;
  font-family: 'Signika Negative', sans-serif
  padding-left: 35px
  text-shadow: none
  color: #ff9000

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner
  -webkit-box-shadow: none !important
  box-shadow: none !important

.navbar-inner
  border: none
  background-image: none
  background-color: #ffeed8

.buttonContainer:hover
  border: 1px solid #ff9000

.buttonContainer
  margin: 5px
  padding: 4px
  background-color: #ffffff
  border-radius: 3px
  border: 1px solid #d4d4d4

.buttonContainer.clipNavButton
  color: #61d8a2

.buttonContainer.recNavButton
  color: #ffac40

.active > .clipNavButton
  background-color: #61d8a2
  color: #ffffff

.active > .recNavButton
  background-color: #ffac40
  color: #ffffff

// 0H11Tw0w0w0w0