head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1')

  title= Caracol
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="node.js, express, postgres, NLTK, angularjs")
  meta(name="description", content="Caracol - A recommendation engine for longform reading.")

  link(href='/img/icons/favicon.ico', rel='shortcut icon', type='image/x-icon')
  
  meta(property='fb:app_id', content='APP_ID')
  meta(property='og:title', content='#{Caracol} - #{Caracol}')
  meta(property='og:description', content='Caracol - A recommendation engine for longform reading.')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://caracol.azurewebsites.net/')
  meta(property='og:image', content='APP_LOGO')
  meta(property='og:site_name', content='Caracol - A reading source')
  meta(property='fb:admins', content='APP_ADMIN')

  link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css", rel="stylesheet")
  link(rel='stylesheet', href='stylesheets/caracol.css')
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Signika+Negative:700', type='text/css')

  //if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
