<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.js"></script>
    <script src="client/app.js"></script>
    <script src="client/controllers.js"></script>
    <script src="client/directives.js"></script>
    <script src="client/services.js"></script>
    <link href="stylesheets/bookmarklet.css" rel="stylesheet"></link>
  </head>
  <body ng-app="app" class="main">
    <div>Welcome to Caracol</div>
    <div>Your neighborhood long-form recommendation engine</div>
    <div>:)</div>
    <button>Upvote</button>
    <button>Downvote</button>
  </body>
</html>


