<div class="clipping row" ng-repeat="clipping in clippings">
  <div class="clippingMeta span1">&nbsp;{{clipping.elegantDate}}</div>
  <div class="clippingStuff span11">
    <div class="clippingTitle"><a href="{{clipping.uri}}" target="_blank">{{clipping.id}} {{clipping.clipping.title}}</a></div>
    <div class="clippingContent">{{clipping.displayedExcerpt}}</div>
  </div>
</div>
<ul class="pager">
  <li><a href="" ng-click="loadClippings(page-1)">Previous</a></li>
  <li><a href="" ng-click="loadClippings(page+1)">Next</a></li>
</ul>
