<h1>Yes!!!!!</h1>
<p>Welcome to Caracol</p>
<div ng-controller="AuthCtrl" ng-show="!signedIn">
  <form>
  Login: <input type="text" name="user" ng-model="user.loginUser">
  Password: <input type="text" name="user" ng-model="user.userPassword">
    <button type="submit" value="Submit" ng-click="login()"></button>
  </form>

  <div>or</div>

  <form>
  Signup: <input type="text" name="user" ng-model="user.username">
  Password: <input type="text" name="user" ng-model="user.password">
    <button type="submit" value="Submit" ng-click="createNewUser()"></button>
  </form>
</div>

<a href="javascript:function crcl(){var d=document,z=d.createElement('scr'+'ipt'),b=d.body,l=d.location;try{if(!b)throw(0);z.setAttribute('src','//caracol.cloudapp.net/app/'+encodeURIComponent(l.href)+'/'+(new Date().getTime())+'/'+Math.random());b.appendChild(z);}catch(e){alert('Please wait until the page has loaded.');}}crcl();void(0)" class="bookmarklet">Caracol</a>
<br/>
<a href="javascript:function crcl(){var d=document,z=d.createElement('scr'+'ipt'),b=d.body,l=d.location;try{if(!b)throw(0);z.setAttribute('src','//localhost:3000/app/'+encodeURIComponent(l.href)+'/'+(new Date().getTime())+'/'+Math.random());b.appendChild(z);}catch(e){alert('Please wait until the page has loaded.');}}crcl();void(0)" class="bookmarklet">Local Host Caracol</a>
