<div class="rec row" ng-repeat="rec in recs">
  <div class="recRank span1">&nbsp;{{rec.rank}}</div>
  <div class="recStuff span11">
    <div class="recTitle"><a href="{{rec.clipping.uri}}" target="_blank">{{rec.clipping.title}}</a></div>
    <div class="recContent">{{rec.displayedExcerpt}}</div>
  </div>
</div>
<ul class="pager">
  <li ng-class="{disabled: prevDisabled}" ng-click="prevDisabled || loadRecs(page-1)" ng-disabled="{{prevDisabled}}"><a href="">Previous</a></li>
  <li ng-class="{disabled: nextDisabled}" ng-click="nextDisabled || loadRecs(page+1)" ng-disabled="{{nextDisabled}}"><a href="">Next</a></li>
</ul>