.caracolContainer
  position: relative
  height: 100%
  width: 100%
  border: 2px #ffeed8
  border-radius:5px
  text-align: center
  margin: 0
  z-index: 1
  background: #28343b
  background-repeat: no-repeat
  font-size: 2em
  font-family: 'Signika Negative',sans-serif
  color: rgb(241,90,36)
  opacity: .95

button
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 2em
  padding: 1% auto

.caracolContainer button
  background-color: rgb(241,90,36)
  color: #ffeed8
  font-size: 0.5em
  padding: 1% 3%
  text-shadow: none
  margin: 0 3%
  opacity: 1

.caracolContainer button:hover
  background-color: #ffeed8
  color: rgb(241,90,36)
  text-shadow: none

.caracolMain
  height: 100%
  width: 100%
  margin: 0 0

.title
  padding-top: 5%
  padding-bottom: 1%

.hide
  position: absolute
  top: 3%
  right: 3%

.component > button
  padding: 1.5% 3%
  margin: 0
  font-size: .5em
  background-color: #28343b
  opacity: 1

.component .snail
  height: auto
  width: auto
  padding-top: 3%
  padding-bottom: 2%
  padding-left: 10%
  width: 35%
  height: 25%
  opacity: 1

.component > button:hover
  background-color: #ffeed8
  color: rgb(241,90,36)
