.main
  position: absolute
  margin: auto auto
  text-align: center
  z-index: 1
  opacity: 1
  background: -moz-linear-gradient(top, #c5772d 0%, #c4854a 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, #c5772d 0%,#c4854a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #c5772d 0%,#c4854a 100%);

.main button
  background-color: rgb(82,155,187)
  margin: 7px 7px