@media screen and (min-width: 200px)
  body
    position: relative
    width: 200px
    background: transparent
    float:right
    margin-right: 3%

  .caracolContainer  
    background-size: 100% 200px
