extends layout

block nav
  .navbar.navbar-fixed-top
    .navbar-inner
      .navContainer
        // .btn-navbar is used as the toggle for collapsed navbar content 
        a.btn.btn-navbar(ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        // Be sure to leave the brand out there if you want it shown 
        a.brand.pull-left(href='#') caracol
        // Everything you want hidden at 940px or less, place within here 
        .nav-collapse.collapse(collapse="isCollapsed")
          // .nav, .navbar-search, .navbar-form, etc 
          ul.nav.pull-right
            li
              a(href='#/clippings') My Clippings
            li
              a(href='#/recommendations') Recommendations

block content
  .container(ng-view='')

  script(src='/bower_components/jquery/jquery.js')
  script(src='/bower_components/angular/angular.min.js')
  script(src='/bower_components/angular-route/angular-route.min.js')
  script(src='/bower_components/angular-bootstrap/ui-bootstrap.js')

  script(src='/scripts/app.js')
  script(src='/scripts/controllers/init.js')
  script(src='/scripts/controllers/main.js')
  script(src='/scripts/controllers/clippings.js')
  script(src='/scripts/controllers/recommendations.js')
  script(src='/scripts/services/init.js')
  script(src='/scripts/services/clippings.js')
  script(src='/scripts/services/vote.js')
  script(src='/scripts/services/recommendations.js')
