doctype 5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title= Caracol
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='bower_components/bootstrap/docs/assets/css/bootstrap.css')
    link(rel='stylesheet', href='bower_components/bootstrap/docs/assets/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='stylesheets/caracol.css')
    link(rel='stylesheet', href='stylesheets/icofont.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Signika+Negative:700')

    script(src='/bower_components/jquery/jquery.js')
    script(src='/bower_components/angular/angular.js')
    script(src='/bower_components/angular-route/angular-route.min.js')
    script(src='/bower_components/angular-bootstrap/ui-bootstrap.js')
    script(src='/bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/holder/2.0/holder.js')

    script(src='/scripts/app.js')
    script(src='/scripts/controllers/init.js')
    script(src='/scripts/controllers/nav.js')
    script(src='/scripts/controllers/main.js')
    script(src='/scripts/controllers/clippings.js')
    script(src='/scripts/controllers/recommendations.js')
    script(src='/scripts/controllers/auth.js')
    script(src='/scripts/services/init.js')
    script(src='/scripts/services/fetch.js')
    script(src='/scripts/services/clippings.js')
    script(src='/scripts/services/recommendations.js')
    script(src='/scripts/services/auth.js')
    script(src='/scripts/hrBanner.js')

  body(ng-app='caracolApp', ng-controller='NavCtrl')
    block wrapper
    block footer
