doctype 5
html
  head
    title= Caracol
    link(rel='stylesheet', href='stylesheets/caracol.css')
    link(rel='stylesheet', href='bower_components/bootstrap/docs/assets/css/bootstrap.css')
    link(rel='stylesheet', href='bower_components/bootstrap/docs/assets/css/bootstrap-responsive.css')
  body(ng-app='caracolApp')
    block nav
    block content
