.caracolContainer{position:relative;height:115px;width:100%;text-align:center;margin:0 0;z-index:1;opacity:1;background:#28343b;font-size:24px;font-family:'Signika Negative',sans-serif;color:#ff9000}
button{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif}
.caracolContainer button{background-color:#ff9000;color:#ffeed8;text-shadow:none;margin:7px 7px}
.caracolContainer button:hover{background-color:#ffeed8;color:#ff9000;text-shadow:none}
.caracolMain{height:115px;width:100%;margin:0 0}
.title{padding-top:10px;padding-bottom:5px}
.hide{position:absolute;top:5px;left:5px}
.component{height:115px}
.component .snail{padding-top:5px;padding-bottom:5px;padding-left:25px;width:50px;height:31px;background-repeat:no-repeat;background-position:center}
